*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 1em 0;
    text-align: center;
}

.presentacion{
    text-align: center;
    img{
        width: 50%;
        height: 50%;
    }
}

.nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}