* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

main {
    margin: 1em 0;
    text-align: center;
}

.horario,
td,
tr {
    background-color: rgb(253, 136, 94);
    border: #000000 solid;
    border-collapse: collapse;
    padding: 1em;
}

.presentacion {
    text-align: center;
    img {
        width: 50%;
        height: 50%;
    }
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown-divider:hover {
    .dropdown-menu {
        display: block;
    }
}

.dropdown-menu {
    display: none;
    background-color: greenyellow;
    li {
        padding: 0.5em 1em;
        border: 1px solid gray;
    }
}
