* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

nav .nav-ul{
    background-color: rgb(201, 161, 236);
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 2.5em;
    
}

.nav-item {
    width: 100%;
    background-color: yellow;
    width: fit-content;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.dropdown-divider:hover {
    .dropdown-menu {
        display: block;
        align-self: baseline;
    }
}

.dropdown-menu {
    display: none;
    background-color: greenyellow;
    li {
        padding: 0.5em 1em;
        border: 1px solid gray;
    }
}


main {
    margin: 1em 0;
    text-align: center;
}

.horario{
    margin: 0 auto;
}

.horario,
td,
tr {
    background-color: rgb(253, 136, 94);
    border: #000000 solid;
    border-collapse: collapse;
    padding: 1em;
}

.presentacion {
    text-align: center;
    img {
        width: 50%;
        height: 50%;
    }
}







.meowCam {
    width: 992px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.meowFrame {
    position: absolute;
    width: 1280px;
    height: 1200px;
    top: -330px;
    left: -273px;
}

.Catmario {
    width: 992px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.catFrame {
    position: absolute;
    
    width: 600px;
    height: 600px;
    top: -100px;
}